@font-face {
  font-family: 'iconfont';
  /* Project id 4511257 */
  src: url('//at.alicdn.com/t/c/font_4511257_q0bcyfxtiyo.woff2?t=1715586623958') format('woff2'),
    url('//at.alicdn.com/t/c/font_4511257_q0bcyfxtiyo.woff?t=1715586623958') format('woff'),
    url('//at.alicdn.com/t/c/font_4511257_q0bcyfxtiyo.ttf?t=1715586623958') format('truetype');
}

[class*='xnr-icon-'] {
  font-family: 'iconfont' !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xnr-icon-my:before {
  content: '\e612';
}

.xnr-icon-wenda:before {
  content: '\e636';
}

.xnr-icon-xiaoxi:before {
  content: '\e62f';
}

.xnr-icon-fabu:before {
  content: '\e66c';
}

.xnr-icon-shezhi:before {
  content: '\e8b7';
}

.xnr-icon-shouye:before {
  content: '\e65c';
}

.xnr-icon-chun:before {
  content: '\e747';
}

.xnr-icon-xia:before {
  content: '\e63d';
}

.xnr-icon-qiu:before {
  content: '\e69b';
}

.xnr-icon-dong:before {
  content: '\e69d';
}

.xnr-icon-yanzheng:before {
  content: '\e624';
}

.xnr-icon-password:before {
  content: '\e679';
}

.xnr-icon-zhengyan:before {
  content: '\ebcc';
}

.xnr-icon-biyan:before {
  content: '\ebcd';
}

.xnr-icon-nothing:before {
  content: '\e708';
  font-size: 50px;
}

.xnr-icon-phone:before {
  content: '\e638';
}

.xnr-icon-name:before {
  content: '\e611';
}

.xnr-icon-good:before {
  content: '\ec8c';
}

.xnr-icon-comment:before {
  content: '\e619';
}

.xnr-icon-picture:before {
  content: '\e674';
}

.xnr-icon-remove:before {
  content: '\e668';
}

.xnr-icon-more:before {
  content: '\e657';
}
.xnr-icon-man:before {
  content: '\e64a';
}
.xnr-icon-woman:before {
  content: '\e8b3';
}
.xnr-icon-edit:before {
  content: '\e607';
}
.xnr-icon-suo:before {
  content: '\e669';
}